# Practicando Markdown en google colab

En la siguiente celda de texto y digitar lo siguiente:

```markdown
# Sección 1
# Sección 2
## Sub-sección bajo Sección 2
```

En la siguiente celda de texto digitar lo siguiente:

```markdown
`**texto en negrita**`
`*texto en italica*`
`~~subrayado~~`
```

En la siguiente celda de texto digitar lo siguiente:

```markdown

`[Enlace a Google](https://www.google.com)`

```

En la siguiente celda de texto digitar lo siguiente:

```markdown


`![Una imagen](https://www.google.com/images/rss.png)`


```

En la siguiente celda de código digitar:

Bloque de código

````
```python
print("a")
```
````

En la siguiente celda digitar:

Listas ordenadas

1. uno
2. dos
3. tres

En la siguiente celda digitar:

Listas no-ordenadas

* uno
* dos
* tres

En la siguiente celda digitar:

```markdown

$y=x^2$

$\frac{n!}{k!(n-k)!} = {n \choose k}$

```

En la siguiente celda digitar:

```markdown
Nombre de primera columna  | Nombre de segunda columna
-------------------|------------------
Fila 1, Columna 1       | Fila 1, Columna 2
Fila 2, Columna 1       | Fila 2, Columna 2

```

En la siguiente celda digitar:

```markdown
---
```

# Palabras reservadas en R

Palabras reservadas en R son un conjunto de palabras que tienen un significado especial y no pueden ser usadas como identificadores (nombres de variables, nombres de funciones, etc)

Digitar lo siguiente en una celda de código:

```
    help(reserved)
```

In [ ]:
help(reserved)

# Variables en R

Variables en R son usadas para almacenar datos, cuyos valores pueden ser cambiados según los requerimientos. Nombres unicos dados a una variable (funciones y objetos) es un identificador.

Reglas para escribir identificadores en R

1.  Identificadores pueden ser una combinación de letras, dígitos, punto (.) y guion bajo (\_)
2.  Debe iniciar con una letra o un punto. Si este inicia con un punto, este no puede ser seguido por un digito
3.  Palabras reservadas en R no pueden ser usadas como identificadores


Ejemplo de identificadores validos

```r
    total, Sum, .fine.with.dot, this_is_acceptable, Number5
```

Ejemplo de identificadores invalidos

```r
    tot@l, 5um, _fine, TRUE, .0ne
```


**Buenas prácticas**

Viejas versiones de R usaron el guion bajo (*) como operador de asignación. Así, el punto (.) fue usado en nombres de variables con múltiples palabras. Versiones actuales de R soportan el guion bajo (*) como identificador válido pero es una buena práctica usar punto como separador de palabras.

Por ejemplo, a.variable.name es preferible sobre a_variable_name o tambien podemos usar la notación camello aVariableName.

**Ejercicio**

En la siguiente celda realizar lo siguiente:

-   En una celda de código crear una variable con el nombre enero que tenga el valor de 100 correspondiente al número de tuercas en un almacen en enero
-   En otra celda de código crear una variable con el nombre febrero que tenga el valor de 50 correspondiente al número de tuercas en un almacen en febrero
-   En otra celda sumar las variables definidas anteriormente

*Sugerencia*: Usar el operador de asignación \<-

In [ ]:
enero <- 100

In [ ]:
febrero <- 50

In [ ]:
enero + febrero

[1] 150

# Constantes en R

Constantes, como su nombre sugiere, son entidades cuyos valores no pueden ser alterados. Tipos básicos de constantes son constantes númericas y constantes de caracter.

**Constantes númericas**

Todos los números caen en esta categoria. Pueden ser de tipo integer, double y complex.

Digitar y ejecutar lo siguiente en celdas de código distintas.

```
typeof(5)
typeof(5L)
typeof(5i)
```

In [ ]:
typeof(5)

[1] "double"

In [ ]:
typeof(5L)

[1] "integer"

In [ ]:
typeof(5i)

[1] "complex"

**Constantes de caracter**

Caracteres pueden ser representados con comilla simple ' o comillas dobles ".

Digitar y ejecutar lo siguiente en celdas de código distintas.

```
'example'
typeof("5")
```

In [ ]:
'example'

[1] "example"

In [ ]:
typeof("5")

[1] "character"

**Constantes ya incorporadas en el paquete base**


Digitar y ejecutar lo siguiente en celdas de código distintas.

```
LETTERS
letters
pi
month.name
month.abb
```

In [ ]:
help(LETTERS)

In [ ]:
LETTERS

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

In [ ]:
letters

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

In [ ]:
pi

[1] 3.141593

In [ ]:
month.name

 [1] "January"   "February"  "March"     "April"     "May"       "June"
 [7] "July"      "August"    "September" "October"   "November"  "December"

In [ ]:
month.abb

 [1] "Jan" "Feb" "Mar" "Apr" "May" "Jun" "Jul" "Aug" "Sep" "Oct" "Nov" "Dec"

# Operadores en R

R tiene muchos operadores para llevar a cabo operaciones matemáticas y lógicas. Entre los tipos de operadores se detallan los siguientes:

* Operadores aritméticos
* Operadores relacionales
* Operadores lógicos
* Operadores de Asignación

**Operadores aritméticos**

| Operador | Descripción                     |
|----------|---------------------------------|
| `+`      | Suma                        |
| `-`      | Resta                     |
| `*`      | Multiplicación                  |
| `/`      | División                  |
| `^`      | Exponenciación                  |
| `%%`     | Modulo             |
| `%/%`    | División Entera                |


Estos operadores son usados para realizar operaciones aritméticas.

In [ ]:
# Ejercicio

4 %% 2

[1] 0

In [ ]:
29 %% 13

[1] 3

In [ ]:
10 %/% 3

[1] 3

In [ ]:
10 / 3

[1] 3.333333

In [ ]:
10L / 3L

[1] 3.333333

In [ ]:
10 + 2

[1] 12

In [ ]:
28 - 10

[1] 18

In [ ]:
2^10

[1] 1024

**Ejercicio**: Usando celdas de código:

Imagina que tienes un jardín con la figura de un rectángulo, y tu quieres calcular el área, perímetro y la diagonal. La longitud del jardín es 10 metros y su ancho es 5 metros.

In [ ]:
l <- 10
w <- 5
l * w

[1] 50

In [ ]:
(l + w)*2

[1] 30

In [ ]:
(l^2 + w^2)^(1/2)

[1] 11.18034

In [ ]:
sqrt((l^2 + w^2))

[1] 11.18034

**Operadores relacionales**

Los operadores relacionales son usados para comparar valores.

| Operador | Descripción                   |
|----------|-------------------------------|
| `==`     | Igual                    |
| `!=`     | No es igual a                  |
| `<`      | Menor que                 |
| `<=`     | Menor o igual que         |
| `>`      | Mayor que                  |
| `>=`     | Mayor o igual que      |


**Ejercicio**: Usando celdas de códigos calcule lo siguiente:

```r
x <- 5
y <- 16
x < y
x > y
x <= 5
y >= 20
y == 16
x != 5
```

In [ ]:
x <- 5
y <- 16

In [ ]:
x < y

[1] TRUE

In [ ]:
x > y

[1] FALSE

In [ ]:
x <= 5

[1] TRUE

In [ ]:
y >= 20

[1] FALSE

In [ ]:
y == 16

[1] TRUE

In [ ]:
x != 5

[1] FALSE

**Operadores lógicos**

Los operadores lógicos permiten llevar a cabo operaciones booleanas tales como AND o OR.

| Operator | Descripción             |
|----------|-------------------------|
| `&`      | Y lógico (usa ambos operandos) |
| `&&`     | Y lógico              |
| `\|`      | O lógico (usa ambos operandos)         |
| `\|\|`   | O lógicos              |
| `!`      | Negación                     |

Cero es considerado FALSE y valores diferentes de cero son tomados como TRUE.

**Ejercicio**: Usando celdas de código calcule lo siguiente:

```r
x <- TRUE
y <- FALSE
x & y
x & x
x | y
!x
```

**Operadores de asignación**


| Operator | Descripción             |
|----------|-------------------------|
| `<-, <<-`      | El operador de asignación hacia la izquierda |
| `->, ->>`     | El operador de asignación hacia la derecha              |
| `=`      | El operador de asignación que usa el símbolo de igual   |


El operador <- y = pueden ser usados indistintamente para asignar variables en el mismo entorno.

El operador <<- es usado para asignar variables en el entorno padre. El operador de asignación hacia derecha aunque disponible es raramente usado.


**Ejercicio**: Usando celdas de código calcule lo siguiente:


```
x <- 5
x
x <- 9
x
10 -> x
x
```

# Precedencia de operadores y asociatividad

**Precedencia de operadores**

Ejecutar lo siguiente:

```r
2 + 6 * 5
```

En la anterior expresión el operador * tiene mayor precedencia que +. Puedo cambiar la precedencia usando parentesis, ejecutar el sigueinte código.

```
(2 + 6) * 5
```

**Asociatividad de los operadores**

Ejecutar lo siguiente:

```
3 / 4 / 5
```

El operador / es evaluado de izquierda a derecha.

# Vectores en R

Un vector es una estructura en R la cual contiene elementos del mismo tipo. Los tipos de datos pueden ser logicos, enteros, double, character, complex o raw.

Otra importante propiedad de un vector es su longitud. Este es el número de elementos en el vector y puede ser verificado con la función length().

Digite lo siguiente en celdas de código:

```r
x <- c(1, 5, 4, 9, 0)
typeof(x)

length(x)
x <- c(1, 5.4, TRUE, "hello")
x
typeof(x)

```

**Creando un vector usando el operador :**

Digite lo siguiente en celdas de código:

```r
# creando el vector x
x <- 1:7
x
# creando el vector y
y <- 2:-2
y
```

**Creando un vector usando la función seq**

La función seq permite generar secuencias.

Digite lo siguiente en celdas de código.

```r
seq(1, 3, by=0.2) # specify step size

seq(1, 5, length.out=4) # specify length of the vector
```

**Accesando elementos de un vector**

**Usando vectores de enteros**

Ejecutar lo siguiente:

```
x <- 1:7

x[3]    

x[c(2, 4)]     

x[-1]          

x[c(2, -4)]

```

**Usando vectores lógicos**

Ejecutar lo siguiente.

```
x <- 1:5
x[c(TRUE, FALSE, FALSE, TRUE)]
# filtrando basandonos en condiciones
# Ojo: vamos a ver mejores formas de hacer esto
# con verbos en el tidyverse.
x[x < 0]
x[x > 0]

```

**Modificando los valores de un vector**


Ejecutar lo siguiente:

```
x <- c(-3,-2,-1,0,1,2)

x[2] <- 0
x        

x[x<0] <- 5
x   

```

**Ejercicio**

* La siguiente tabla representa datos de temperatura máxima en El Salvador del 11 al 15 de marzo.

| Lunes  | Martes  | Miércoles  | Jueves  | Viernes  |
|---|---|---|---|---|
| 35  | 33  |  33 | 32  |  30 |

* Crear un vector con la anterior información.

* Calcular el máximo valor de temperatura usando la función max

* Usar la función summary sobre el vector

* Accesar a los elementos que van de Lunes a Jueves

* Modificar el valor de Jueves por 35

* Investigar como poner nombres a los elementos del vector anterior. Puede usar ChatGPT o google.

# Matrices

Para crear matrices debo usar la función matrix. Ejecutar lo siguiente:

```
matrix(1:9, nrow = 3, ncol = 3)
```

Ejecutar lo siguiente y verificar que da el mismo resultado de la celda anterior.

```
matrix(1:9, nrow = 3)
```

Para llenar por filas, probar con el siguiente código:


```
matrix(1:9, nrow = 3, byrow=TRUE)
```

**Accesando elementos de una matriz.**

Suponiendo que tenemos la matriz var la sintaxis para accesar a la fila 1 y columna 2 es:

```
var[1, 2]
```

Ejecutar lo siguiente:

```
x <- matrix(1:9, nrow = 3, ncol = 3, byrow = TRUE)

# selecccionando filas 1 y 2, y columnas 2 y 3.
x[c(1,2),c(2,3)]    

# dejando vacia una dimensión implica que
# selecciona todos los elementos de esa dimensión
x[c(3,2),]    


# Selecciona todas las filas exceptuando la primera.
x[-1,]    

```

**Ejercicio**:

* Encontrar un ejemplo de como modificar una matriz
* Encontrar un ejemplo de como asignar vectores de caracteres a los elementos de cada una de las dimensiones (filas y columnas)
* Encontrar un ejemplo de como usar los nombres en las dimensiones para seleccionar ya sea conjuntos de columnas, filas o elementos individuales de una matriz.

Calcular lo siguiente:

Matrix A:

$$
A = \begin{pmatrix} 1 & 2 \\ 3 & 4 \end{pmatrix}
$$

Matrix B:

$$
B = \begin{pmatrix} 5 & 6 \\ 7 & 8 \end{pmatrix}
$$

$$ A + B $$

$$ A \times B $$


$$
A^{-1}
$$

# Listas

Una lista puede ser definida como un vector donde los elementos son de distinto tipo.

Vamos a ver un ejemplo de como crear una lista, ejecutar lo siguiente en una celda de código.

```
x <- list("a" = 2.5, "b" = TRUE, "c" = 1:3)
x
```

La estructura de la lista puede ser examinada con la función str. Ejecutar lo siguiente en una celda de código.

```
str(x)
```

Las etiquetas en los componentes de la lista son opcionales, ejecutemos lo siguiente en una celda de código:

```
x <- list(2.5,TRUE,1:3)
x
```

**Accesando elementos en una lista**

Las listas pueden ser accesadas de una manera parecida a la que se usa con los vectores. Ejecutar lo siguiente en una celda de código.


```
x <- list(name = "John", age = 19, speaks = c("English", "French"))

# accesando elementos por nombre
x$name
x$age
x$speaks

# accesando elementos por índice entero
x[c(1, 2)]
x[-2]

# accesando elementos usando índice lógico
x[c(TRUE, FALSE, FALSE)]

# accesando elementos por índice de caracter
x[c("age", "speaks")]

```

**Usando corchetes para accesar a elementos en una lista**

Ejecutar lo siguiente en celdas de código.

```

x["age"]

typeof(x["age"])

x[["age"]]

typeof(x[["age"]])


```

Hay que notar que cuando solo se usa un corchete se devuelve una lista.

In [16]:
x["age"]

$age
[1] 19

**Como modificar elementos de una lista**

Usamos las técnicas vistas anteriormente y el operador de asignación <-. Ejecutar el siguiente código en una celda.


```
x <- list(name = "John", age = 19, speaks = c("English", "French"))

x

#  accesando elementos usando [[]] y actualizando su valor
x[["name"]] <- "Clair"

x
```

**Como agregar elementos a una lista**

Agregando elementos a una lista es fácil. Asignamos valores usando nuevos labels.


```
x <- list(name = "Clair", age = 19, speaks = c("English", "French"))

x

# asignar un nuevo elemento a una lista usando corchetes dobles [[]]

x[["married"]] <- FALSE


x

```

**Borrando elementos de una lista**

Para borrar elementos de una lista debes de asignar al componente a borrar el valor NULL. Ejecutar lo siguiente en una celda de código.


```
x `- list(name = "Clair", age = 19, speaks = c("English", "French"))

# removiendo un elemento de la lista.
x[["age"]] <- NULL

str(x)

# removiendo un elemento de la lista
x$married <- NULL


str(x)

```

**Ejercicio**:

Imagina que estás gestionando una lista de cursos para una pequeña empresa de capacitación. Cada curso tiene un nombre, un instructor y un número de estudiantes inscritos. Representarás cada curso como una lista y luego crearás una lista de estos cursos.

Crea una lista llamada curso1 que represente un curso con los siguientes detalles:

    Nombre: "Introducción a R"
    Instructor: "Juan Perez"
    Estudiantes inscritos: 30

Crea una segunda lista llamada curso2 con los siguientes detalles:
        
    Nombre: "Python Avanzado"
    Instructor: "Pedro Ramírez"
    Estudiantes inscritos: 25

Combina curso1 y curso2 en una lista llamada listaCursos.

* Accediendo a Elementos: Imprime el nombre del primer curso. Imprime el número de estudiantes inscritos en el segundo curso.

* Actualizando Elementos: El instructor de "Pedro Ramírez" ha cambiado a "Luis Gonzalez". Actualiza el nombre del instructor en curso2.

* Agregando Elementos: Agrega un nuevo curso a listaCursos con los siguientes detalles:
    Nombre: "Fundamentos de Ciencia de Datos"
    Instructor: "Virgilio Hernandez"
    Estudiantes inscritos: 40

* Eliminando Elementos: Elimina curso1 de listaCursos.