# Practicando Markdown en google colab

En la siguiente celda de texto y digitar lo siguiente:

```markdown
# Sección 1
# Sección 2
## Sub-sección bajo Sección 2
```

En la siguiente celda de texto digitar lo siguiente:

```markdown
`**texto en negrita**`
`*texto en italica*`
`~~subrayado~~`
```

En la siguiente celda de texto digitar lo siguiente:

```markdown

`[Enlace a Google](https://www.google.com)`

```

En la siguiente celda de texto digitar lo siguiente:

```markdown


`![Una imagen](https://www.google.com/images/rss.png)`


```

En la siguiente celda de código digitar:

Bloque de código

````
```python
print("a")
```
````

En la siguiente celda digitar:

Listas ordenadas

1. uno
2. dos
3. tres

En la siguiente celda digitar:

Listas no-ordenadas

* uno
* dos
* tres

En la siguiente celda digitar:

```markdown

$y=x^2$

$\frac{n!}{k!(n-k)!} = {n \choose k}$

```

En la siguiente celda digitar:

```markdown
Nombre de primera columna  | Nombre de segunda columna
-------------------|------------------
Fila 1, Columna 1       | Fila 1, Columna 2
Fila 2, Columna 1       | Fila 2, Columna 2

```

En la siguiente celda digitar:

```markdown
---
```

# Palabras reservadas en R

Palabras reservadas en R son un conjunto de palabras que tienen un significado especial y no pueden ser usadas como identificadores (nombres de variables, nombres de funciones, etc)

Digitar lo siguiente en una celda de código:

```
    help(reserved)
```

In [ ]:
help(reserved)

# Variables en R

Variables en R son usadas para almacenar datos, cuyos valores pueden ser cambiados según los requerimientos. Nombres unicos dados a una variable (funciones y objetos) es un identificador.

Reglas para escribir identificadores en R

1.  Identificadores pueden ser una combinación de letras, dígitos, punto (.) y guion bajo (\_)
2.  Debe iniciar con una letra o un punto. Si este inicia con un punto, este no puede ser seguido por un digito
3.  Palabras reservadas en R no pueden ser usadas como identificadores


Ejemplo de identificadores validos

```r
    total, Sum, .fine.with.dot, this_is_acceptable, Number5
```

Ejemplo de identificadores invalidos

```r
    tot@l, 5um, _fine, TRUE, .0ne
```


**Buenas prácticas**

Viejas versiones de R usaron el guion bajo (*) como operador de asignación. Así, el punto (.) fue usado en nombres de variables con múltiples palabras. Versiones actuales de R soportan el guion bajo (*) como identificador válido pero es una buena práctica usar punto como separador de palabras.

Por ejemplo, a.variable.name es preferible sobre a_variable_name o tambien podemos usar la notación camello aVariableName.

**Ejercicio**

En la siguiente celda realizar lo siguiente:

-   En una celda de código crear una variable con el nombre enero que tenga el valor de 100 correspondiente al número de tuercas en un almacen en enero
-   En otra celda de código crear una variable con el nombre febrero que tenga el valor de 50 correspondiente al número de tuercas en un almacen en febrero
-   En otra celda sumar las variables definidas anteriormente

*Sugerencia*: Usar el operador de asignación \<-

In [ ]:
enero <- 100

In [ ]:
febrero <- 50

In [ ]:
enero + febrero

[1] 150

# Constantes en R

Constantes, como su nombre sugiere, son entidades cuyos valores no pueden ser alterados. Tipos básicos de constantes son constantes númericas y constantes de caracter.

**Constantes númericas**

Todos los números caen en esta categoria. Pueden ser de tipo integer, double y complex.

Digitar y ejecutar lo siguiente en celdas de código distintas.

```
typeof(5)
typeof(5L)
typeof(5i)
```

In [ ]:
typeof(5)

[1] "double"

In [ ]:
typeof(5L)

[1] "integer"

In [ ]:
typeof(5i)

[1] "complex"

**Constantes de caracter**

Caracteres pueden ser representados con comilla simple ' o comillas dobles ".

Digitar y ejecutar lo siguiente en celdas de código distintas.

```
'example'
typeof("5")
```

In [ ]:
'example'

[1] "example"

In [ ]:
typeof("5")

[1] "character"

**Constantes ya incorporadas en el paquete base**


Digitar y ejecutar lo siguiente en celdas de código distintas.

```
LETTERS
letters
pi
month.name
month.abb
```

In [ ]:
help(LETTERS)

In [ ]:
LETTERS

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

In [ ]:
letters

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

In [ ]:
pi

[1] 3.141593

In [ ]:
month.name

 [1] "January"   "February"  "March"     "April"     "May"       "June"
 [7] "July"      "August"    "September" "October"   "November"  "December"

In [ ]:
month.abb

 [1] "Jan" "Feb" "Mar" "Apr" "May" "Jun" "Jul" "Aug" "Sep" "Oct" "Nov" "Dec"

# Operadores en R

R tiene muchos operadores para llevar a cabo operaciones matemáticas y lógicas. Entre los tipos de operadores se detallan los siguientes:

* Operadores aritméticos
* Operadores relacionales
* Operadores lógicos
* Operadores de Asignación

**Operadores aritméticos**

| Operador | Descripción                     |
|----------|---------------------------------|
| `+`      | Suma                        |
| `-`      | Resta                     |
| `*`      | Multiplicación                  |
| `/`      | División                  |
| `^`      | Exponenciación                  |
| `%%`     | Modulo             |
| `%/%`    | División Entera                |


Estos operadores son usados para realizar operaciones aritméticas.

In [ ]:
# Ejercicio

4 %% 2

[1] 0

In [ ]:
29 %% 13

[1] 3

In [ ]:
10 %/% 3

[1] 3

In [ ]:
10 / 3

[1] 3.333333

In [ ]:
10L / 3L

[1] 3.333333

In [ ]:
10 + 2

[1] 12

In [ ]:
28 - 10

[1] 18

In [ ]:
2^10

[1] 1024

**Ejercicio**: Usando celdas de código:

Imagina que tienes un jardín con la figura de un rectángulo, y tu quieres calcular el área, perímetro y la diagonal. La longitud del jardín es 10 metros y su ancho es 5 metros.

In [ ]:
l <- 10
w <- 5
l * w

[1] 50

In [ ]:
(l + w)*2

[1] 30

In [ ]:
(l^2 + w^2)^(1/2)

[1] 11.18034

In [ ]:
sqrt((l^2 + w^2))

[1] 11.18034

**Operadores relacionales**

Los operadores relacionales son usados para comparar valores.

| Operador | Descripción                   |
|----------|-------------------------------|
| `==`     | Igual                    |
| `!=`     | No es igual a                  |
| `<`      | Menor que                 |
| `<=`     | Menor o igual que         |
| `>`      | Mayor que                  |
| `>=`     | Mayor o igual que      |


**Ejercicio**: Usando celdas de códigos calcule lo siguiente:

```r
x <- 5
y <- 16
x < y
x > y
x <= 5
y >= 20
y == 16
x != 5
```

In [ ]:
x <- 5
y <- 16

In [ ]:
x < y

[1] TRUE

In [ ]:
x > y

[1] FALSE

In [ ]:
x <= 5

[1] TRUE

In [ ]:
y >= 20

[1] FALSE

In [ ]:
y == 16

[1] TRUE

In [ ]:
x != 5

[1] FALSE

**Operadores lógicos**

Los operadores lógicos permiten llevar a cabo operaciones booleanas tales como AND o OR.

| Operator | Descripción             |
|----------|-------------------------|
| `&`      | Y lógico (usa ambos operandos) |
| `&&`     | Y lógico              |
| `\|`      | O lógico (usa ambos operandos)         |
| `\|\|`   | O lógicos              |
| `!`      | Negación                     |

Cero es considerado FALSE y valores diferentes de cero son tomados como TRUE.

**Ejercicio**: Usando celdas de código calcule lo siguiente:

```r
x <- TRUE
y <- FALSE
x & y
x & x
x | y
!x
```

**Operadores de asignación**


| Operator | Descripción             |
|----------|-------------------------|
| `<-, <<-`      | El operador de asignación hacia la izquierda |
| `->, ->>`     | El operador de asignación hacia la derecha              |
| `=`      | El operador de asignación que usa el símbolo de igual   |


El operador <- y = pueden ser usados indistintamente para asignar variables en el mismo entorno.

El operador <<- es usado para asignar variables en el entorno padre. El operador de asignación hacia derecha aunque disponible es raramente usado.


**Ejercicio**: Usando celdas de código calcule lo siguiente:


```
x <- 5
x
x <- 9
x
10 -> x
x
```

# Precedencia de operadores y asociatividad

**Precedencia de operadores**

Ejecutar lo siguiente:

```r
2 + 6 * 5
```

En la anterior expresión el operador * tiene mayor precedencia que +. Puedo cambiar la precedencia usando parentesis, ejecutar el sigueinte código.

```
(2 + 6) * 5
```

**Asociatividad de los operadores**

Ejecutar lo siguiente:

```
3 / 4 / 5
```

El operador / es evaluado de izquierda a derecha.

# Vectores en R

Un vector es una estructura en R la cual contiene elementos del mismo tipo. Los tipos de datos pueden ser logicos, enteros, double, character, complex o raw.

Otra importante propiedad de un vector es su longitud. Este es el número de elementos en el vector y puede ser verificado con la función length().

Digite lo siguiente en celdas de código:

```r
x <- c(1, 5, 4, 9, 0)
typeof(x)

length(x)
x <- c(1, 5.4, TRUE, "hello")
x
typeof(x)

```

**Creando un vector usando el operador :**

Digite lo siguiente en celdas de código:

```r
# creando el vector x
x <- 1:7
x
# creando el vector y
y <- 2:-2
y
```

In [ ]:
x <- 1:7
x
# creando el vector y
y <- 2:-2
y

[1] 1 2 3 4 5 6 7

[1]  2  1  0 -1 -2

**Creando un vector usando la función seq**

La función seq permite generar secuencias.

Digite lo siguiente en celdas de código.

```r
seq(1, 3, by=0.2) # specify step size

seq(1, 5, length.out=4) # specify length of the vector
```

**Accesando elementos de un vector**

**Usando vectores de enteros**

Ejecutar lo siguiente:

```
x <- 1:7

x[3]    

x[c(2, 4)]     

x[-1]          

x[c(2, -4)]

```

In [ ]:
x <- 1:7
x

x[3]

x[c(2, 4)]

x[-1]

[1] 1 2 3 4 5 6 7

[1] 3

[1] 2 4

[1] 2 3 4 5 6 7

In [ ]:
x[c(2, -4)]

ERROR: Error in x[c(2, -4)]: only 0's may be mixed with negative subscripts

**Usando vectores lógicos**

Ejecutar lo siguiente.

```
x <- 1:5
x[c(TRUE, FALSE, FALSE, TRUE)]
# filtrando basandonos en condiciones
# Ojo: vamos a ver mejores formas de hacer esto
# con verbos en el tidyverse.
x[x < 0]
x[x > 0]

```

In [ ]:
x <- 1:5
x
c(TRUE, FALSE, FALSE, TRUE)
x[c(TRUE, FALSE, FALSE, TRUE)]

[1] 1 2 3 4 5

[1]  TRUE FALSE FALSE  TRUE

[1] 1 4 5

In [ ]:
x

[1] 1 2 3 4 5

In [ ]:
x < 0

[1] FALSE FALSE FALSE FALSE FALSE

In [ ]:
print(x[x < 0]) # vector de longitud 0

integer(0)

In [ ]:
x[x > 0]

[1] 1 2 3 4 5

**Modificando los valores de un vector**


Ejecutar lo siguiente:

```
x <- c(-3,-2,-1,0,1,2)

x[2] <- 0
x        

x[x<0] <- 5
x   

```

In [ ]:
x <- c(-3,-2,-1,0,1,2)

x[2] <- 0
x

x[x<0] <- 5
x

[1] -3  0 -1  0  1  2

[1] 5 0 5 0 1 2

**Ejercicio**

* La siguiente tabla representa datos de temperatura máxima en El Salvador del 11 al 15 de marzo.

| Lunes  | Martes  | Miércoles  | Jueves  | Viernes  |
|---|---|---|---|---|
| 35  | 33  |  33 | 32  |  30 |

* Crear un vector con la anterior información.

* Calcular el máximo valor de temperatura usando la función max

* Investigar como poner nombres a los elementos del vector anterior. Puede usar ChatGPT o google.

* Usar la función summary sobre el vector

* Accesar a los elementos que van de Lunes a Jueves

* Modificar el valor de Jueves por 35

In [ ]:
 temper <-c(35  , 33  ,  33 , 32  ,  30 )

In [ ]:
temper

[1] 35 33 33 32 30

In [ ]:
temper

[1] 35 33 33 32 30

In [ ]:
max(temper)

[1] 35

In [ ]:
names(temper) <- c("Lunes", "Martes", "Miércoles", "Jueves", "Viernes")

In [ ]:
as.matrix(temper)

          [,1]
Lunes     35
Martes    33
Miércoles 33
Jueves    32
Viernes   30

In [ ]:
t(as.matrix(temper))

     Lunes Martes Miércoles Jueves Viernes
[1,] 35    33     33        32     30

In [ ]:
summary(temper)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   30.0    32.0    33.0    32.6    33.0    35.0

In [ ]:
temper[1:4]

    Lunes    Martes Miércoles    Jueves
       35        33        33        32

In [ ]:
temper["Jueves"] <- 35

In [ ]:
temper[1:4]

    Lunes    Martes Miércoles    Jueves
       35        33        33        35

# Matrices

Para crear matrices debo usar la función matrix. Ejecutar lo siguiente:

```
matrix(1:9, nrow = 3, ncol = 3)
```

Ejecutar lo siguiente y verificar que da el mismo resultado de la celda anterior.

```
matrix(1:9, nrow = 3)
```

Para llenar por filas, probar con el siguiente código:


```
matrix(1:9, nrow = 3, byrow=TRUE)
```

**Accesando elementos de una matriz.**

Suponiendo que tenemos la matriz var la sintaxis para accesar a la fila 1 y columna 2 es:

```
var[1, 2]
```

Ejecutar lo siguiente:

```
x <- matrix(1:9, nrow = 3, ncol = 3, byrow = TRUE)

# selecccionando filas 1 y 2, y columnas 2 y 3.
x[c(1,2),c(2,3)]    

# dejando vacia una dimensión implica que
# selecciona todos los elementos de esa dimensión
x[c(3,2),]    


# Selecciona todas las filas exceptuando la primera.
x[-1,]    

```

**Ejercicio**:

* Encontrar un ejemplo de como modificar una matriz
* Encontrar un ejemplo de como asignar vectores de caracteres a los elementos de cada una de las dimensiones (filas y columnas)
* Encontrar un ejemplo de como usar los nombres en las dimensiones para seleccionar ya sea conjuntos de columnas, filas o elementos individuales de una matriz.

Calcular lo siguiente:

Matrix A:

$$
A = \begin{pmatrix} 1 & 2 \\ 3 & 4 \end{pmatrix}
$$

Matrix B:

$$
B = \begin{pmatrix} 5 & 6 \\ 7 & 8 \end{pmatrix}
$$

$$ A + B $$

$$ A \times B $$


$$
A^{-1}
$$

Otra forma de crear matrices es usando rbind y cbind. A continuación vamos a crear dos vectores con la misma longitud con el siguiente código:

```
vec1 <- c(1, 2, 3)
vec2 <- c(4, 5, 6)
```

A partir de los anteriores vectores puedo crear una matriz de orden 2 x 3 donde los elementos del vector consituyen las filas de la nueva matriz de la siguiente forma:

```
rbind(vec1, vec2)
```

Tambien puedo crear una matriz 3 x 2 con la información de los anteriores vectores con la función cbind.

```
cbind(vec1, vec2)
```

# Listas

Una lista puede ser definida como un vector donde los elementos son de distinto tipo.

Vamos a ver un ejemplo de como crear una lista, ejecutar lo siguiente en una celda de código.

```
x <- list("a" = 2.5, "b" = TRUE, "c" = 1:3)
x
```

La estructura de la lista puede ser examinada con la función str. Ejecutar lo siguiente en una celda de código.

```
str(x)
```

Las etiquetas en los componentes de la lista son opcionales, ejecutemos lo siguiente en una celda de código:

```
x <- list(2.5,TRUE,1:3)
x
```

**Accesando elementos en una lista**

Las listas pueden ser accesadas de una manera parecida a la que se usa con los vectores. Ejecutar lo siguiente en una celda de código.


```
x <- list(name = "John", age = 19, speaks = c("English", "French"))

# accesando elementos por nombre
x$name
x$age
x$speaks

# accesando elementos por índice entero
x[c(1, 2)]
x[-2]

# accesando elementos usando índice lógico
x[c(TRUE, FALSE, FALSE)]

# accesando elementos por índice de caracter
x[c("age", "speaks")]

```

**Usando corchetes para accesar a elementos en una lista**

Ejecutar lo siguiente en celdas de código.

```

x["age"]

typeof(x["age"])

x[["age"]]

typeof(x[["age"]])


```

Hay que notar que cuando solo se usa un corchete se devuelve una lista.

In [ ]:
x["age"]

$age
[1] 19

**Como modificar elementos de una lista**

Usamos las técnicas vistas anteriormente y el operador de asignación <-. Ejecutar el siguiente código en una celda.


```
x <- list(name = "John", age = 19, speaks = c("English", "French"))

x

#  accesando elementos usando [[]] y actualizando su valor
x[["name"]] <- "Clair"

x
```

In [ ]:
x <- list(name = "John", age = 19, speaks = c("English", "French"))

In [ ]:
x

$name
[1] "John"

$age
[1] 19

$speaks
[1] "English" "French"

In [ ]:
x[["name"]] <- "Clair"

In [ ]:
x

$name
[1] "Clair"

$age
[1] 19

$speaks
[1] "English" "French"

**Como agregar elementos a una lista**

Agregando elementos a una lista es fácil. Asignamos valores usando nuevos labels.


```
x <- list(name = "Clair", age = 19, speaks = c("English", "French"))

x

# asignar un nuevo elemento a una lista usando corchetes dobles [[]]

x[["married"]] <- FALSE


x

```

In [ ]:
x

$name
[1] "Clair"

$age
[1] 19

$speaks
[1] "English" "French"

In [ ]:
x[["married"]] <- FALSE

In [ ]:
x

$name
[1] "Clair"

$age
[1] 19

$speaks
[1] "English" "French"

$married
[1] FALSE

**Borrando elementos de una lista**

Para borrar elementos de una lista debes de asignar al componente a borrar el valor NULL. Ejecutar lo siguiente en una celda de código.


```
x <- list(name = "Clair", age = 19, speaks = c("English", "French"))

# removiendo un elemento de la lista.
x[["age"]] <- NULL

str(x)


```

In [ ]:
x <- list(name = "Clair", age = 19, speaks = c("English", "French"))

In [ ]:
x

$name
[1] "Clair"

$age
[1] 19

$speaks
[1] "English" "French"

In [ ]:
x[["age"]] <- NULL

In [ ]:
x

$name
[1] "Clair"

$speaks
[1] "English" "French"

In [ ]:
str(x)

List of 2
 $ name  : chr "Clair"
 $ speaks: chr [1:2] "English" "French"

**Ejercicio**:

Imagina que estás gestionando una lista de cursos para una pequeña empresa de capacitación. Cada curso tiene un nombre, un instructor y un número de estudiantes inscritos. Representarás cada curso como una lista y luego crearás una lista de estos cursos.

Crea una lista llamada curso1 que represente un curso con los siguientes detalles:

    Nombre: "Introducción a R"
    Instructor: "Juan Perez"
    Estudiantes inscritos: 30

Crea una segunda lista llamada curso2 con los siguientes detalles:
        
    Nombre: "Python Avanzado"
    Instructor: "Pedro Ramírez"
    Estudiantes inscritos: 25

Combina curso1 y curso2 en una lista llamada listaCursos.

* Accediendo a Elementos: Imprime el nombre del primer curso. Imprime el número de estudiantes inscritos en el segundo curso.

* Actualizando Elementos: El instructor de "Pedro Ramírez" ha cambiado a "Luis Gonzalez". Actualiza el nombre del instructor en curso2.

* Agregando Elementos: Agrega un nuevo curso a listaCursos con los siguientes detalles:
    Nombre: "Fundamentos de Ciencia de Datos"
    Instructor: "Virgilio Hernandez"
    Estudiantes inscritos: 40

* Eliminando Elementos: Elimina curso1 de listaCursos.

**Nota**: Las listas son usadas para devolver información de una función.

**Solución**:

In [ ]:
curso1 <- list("Nombre" = "Introducción a R",
               "Instructor" = "Juan Perez",
               "Estudiantes_inscritos" = 30)

In [ ]:
curso1

$Nombre
[1] "Introducción a R"

$Instructor
[1] "Juan Perez"

$Estudiantes_inscritos
[1] 30

In [ ]:
curso2 <- list("Nombre" = "Python Avanzado",
               "Instructor" = "Pedro Ramírez",
               "Estudiantes_inscritos" = 25)

In [ ]:
curso2

$Nombre
[1] "Python Avanzado"

$Instructor
[1] "Pedro Ramírez"

$Estudiantes_inscritos
[1] 25

Combina curso1 y curso2 en una lista llamada listaCursos.

In [ ]:
listaCursos <- list( curso1 = curso1, curso2 = curso2 )

In [ ]:
listaCursos

$curso1
$curso1$Nombre
[1] "Introducción a R"

$curso1$Instructor
[1] "Juan Perez"

$curso1$Estudiantes_inscritos
[1] 30


$curso2
$curso2$Nombre
[1] "Python Avanzado"

$curso2$Instructor
[1] "Pedro Ramírez"

$curso2$Estudiantes_inscritos
[1] 25

Accediendo a Elementos: Imprime el nombre del primer curso. Imprime el número de estudiantes inscritos en el segundo curso.

In [ ]:
listaCursos$curso1$Nombre

[1] "Introducción a R"

In [ ]:
listaCursos$curso1$Estudiantes_inscritos

[1] 30

Actualizando Elementos: El instructor de "Pedro Ramírez" ha cambiado a "Luis Gonzalez". Actualiza el nombre del instructor en curso2.

In [ ]:
listaCursos$curso2$Instructor

[1] "Pedro Ramírez"

In [ ]:
listaCursos$curso2$Instructor <- "Luis Gonzalez"

In [ ]:
listaCursos$curso2$Instructor

[1] "Luis Gonzalez"

Agregando Elementos: Agrega un nuevo curso a listaCursos con los siguientes detalles: Nombre: "Fundamentos de Ciencia de Datos" Instructor: "Virgilio Hernandez" Estudiantes inscritos: 40

In [ ]:
curso3 <- list("Nombre" = "Fundamentos de Ciencia de Datos",
               "Instructor" = "Virgilio Hernandez",
               "Estudiantes_inscritos" = 40)

In [ ]:
listaCursos

$curso1
$curso1$Nombre
[1] "Introducción a R"

$curso1$Instructor
[1] "Juan Perez"

$curso1$Estudiantes_inscritos
[1] 30


$curso2
$curso2$Nombre
[1] "Python Avanzado"

$curso2$Instructor
[1] "Luis Gonzalez"

$curso2$Estudiantes_inscritos
[1] 25

In [ ]:
listaCursos$curso3 <- curso3

In [ ]:
listaCursos

$curso1
$curso1$Nombre
[1] "Introducción a R"

$curso1$Instructor
[1] "Juan Perez"

$curso1$Estudiantes_inscritos
[1] 30


$curso2
$curso2$Nombre
[1] "Python Avanzado"

$curso2$Instructor
[1] "Luis Gonzalez"

$curso2$Estudiantes_inscritos
[1] 25


$curso3
$curso3$Nombre
[1] "Fundamentos de Ciencia de Datos"

$curso3$Instructor
[1] "Virgilio Hernandez"

$curso3$Estudiantes_inscritos
[1] 40

Eliminando Elementos: Elimina curso1 de listaCursos.

In [ ]:
listaCursos

$curso1
$curso1$Nombre
[1] "Introducción a R"

$curso1$Instructor
[1] "Juan Perez"

$curso1$Estudiantes_inscritos
[1] 30


$curso2
$curso2$Nombre
[1] "Python Avanzado"

$curso2$Instructor
[1] "Luis Gonzalez"

$curso2$Estudiantes_inscritos
[1] 25


$curso3
$curso3$Nombre
[1] "Fundamentos de Ciencia de Datos"

$curso3$Instructor
[1] "Virgilio Hernandez"

$curso3$Estudiantes_inscritos
[1] 40

In [ ]:
listaCursos$curso1 <- NULL

In [ ]:
listaCursos

$curso2
$curso2$Nombre
[1] "Python Avanzado"

$curso2$Instructor
[1] "Luis Gonzalez"

$curso2$Estudiantes_inscritos
[1] 25


$curso3
$curso3$Nombre
[1] "Fundamentos de Ciencia de Datos"

$curso3$Instructor
[1] "Virgilio Hernandez"

$curso3$Estudiantes_inscritos
[1] 40

# Data Frame

Un data frame es una estructura de datos bidimensional. Es un caso especial de una lista donde cada uno de sus elementos o componente tiene igual longitud. Cada componente forman las columnas y el contenido de los componentes forman las filas.

**Como crear un dataframe en R**
Para crear un dataframe en R hay que usar la función data.frame. Como en el siguiente código.

```

df <- data.frame( dui = 1:7, edad = c(21, 23, 27, 28, 29, 30, 35),
                  nombre = c("Juan", "Dora", "Hugo",
                             "Francisco", "Luis", "Carlos",  
                             "Mauricio"))

```

In [ ]:
df <- data.frame( dui = 1:7, edad = c(21, 23, 27, 28, 29, 30, 35),
                  nombre = c("Juan", "Dora", "Hugo",
                             "Francisco", "Luis", "Carlos",
                             "Mauricio"))

In [ ]:
df

  dui edad nombre
1 1   21   Juan
2 2   23   Dora
3 3   27   Hugo
4 4   28   Francisco
5 5   29   Luis
6 6   30   Carlos
7 7   35   Mauricio

Funciones usuales para visualizar la información en un data frame son:

* head: muestra por defecto las primeras 6 observaciones de un data frame.
* tail: muestra por defecto las últimas 6 observaciones de un data frame.
* str: permite ver la estructura interna de un data frame.

**Ejercicio** Probar las anteriores funciones en el data frame df.

In [ ]:
summary(df)

      dui           edad          nombre
 Min.   :1.0   Min.   :21.00   Length:7
 1st Qu.:2.5   1st Qu.:25.00   Class :character
 Median :4.0   Median :28.00   Mode  :character
 Mean   :4.0   Mean   :27.57
 3rd Qu.:5.5   3rd Qu.:29.50
 Max.   :7.0   Max.   :35.00

**Como accesar a los componentes de un data frame.**

La forma más usual para accesar a los componentes de un data frame es usando el operador $ que se ha usado previamente en las listas. Ejecutar lo siguiente para accesar a los elementos individuales del data frame df.

```
df$dui
df$edad
df$nombre
```

In [ ]:
df$dui

[1] 1 2 3 4 5 6 7

**Accesando a elementos de un data frame como una matriz**

Ejecutar lo siguiente en una celda de código.

```
library(help="datasets")
```

El anterior código nos permite visualizar los conjuntos de datos que estan en el paquete datasets, los paquetes en R nos permiten extender la funcionalidad de R. Hay una serie de paquetes en R que se cargan por defecto uno de ellos es el paquete datasets que tienen conjuntos de datos, lo podemos verificar con el siguiente código.

```
"package:datasets" %in% search()
```

**Ejercicio**:

Cuando se ejecuta R automáticamente se carga el data frame tree, ejecutar los siguientes comandos para tener una idea de este conjunto de datos.

```
str(trees)

head(trees)

head(trees, n = 10)

tail(trees)

tail(trees, n = 10)

```

In [ ]:
str(trees)

'data.frame':	31 obs. of  3 variables:
 $ Girth : num  8.3 8.6 8.8 10.5 10.7 10.8 11 11 11.1 11.2 ...
 $ Height: num  70 65 63 72 81 83 66 75 80 75 ...
 $ Volume: num  10.3 10.3 10.2 16.4 18.8 19.7 15.6 18.2 22.6 19.9 ...

**Nota**: Puedes tener más información del data frame trees con el siguiente comando.

```
help(trees)
```

A continuación vamos a ejecutar funciones que nos permiten *seleccionar* parte del data frame trees.

```
# seleccionando filas 2 y 3 del data frame trees
trees[2:3, ]

```

In [ ]:
trees[2:3, ]

  Girth Height Volume
2 8.6   65     10.3
3 8.8   63     10.2

```
# seleccionar la columna Height y las filas de la 10 a la 12
trees[10:12, "Height"]

```

In [ ]:
trees[10:12, "Height"]

[1] 75 79 76

```
# seleccionar las columnas "Height" y "Volume", y las filas 1, 3, y 10.
trees[c(1,3,10), c("Height", "Volume")]

```

```
# seleccionar las filas que cumplen la siguiente cóndición:

# Seleccionar filas donde Girth es mayor que 10 pulgadas y Height es mayor que 70 pies.

trees[trees$Girth > 10 & trees$Height > 70, ]


```

```
# seleccionar las filas que cumplen la siguiente cóndición:

# Seleccionar filas donde Girth es mayor que 18 pulgadas o Height es mayor que 75 pies.

trees[trees$Girth > 18 | trees$Height > 75, ]


```

```

# Seleccionar filas donde Girth no es mayor que 18 pulgadas.

trees[!trees$Girth > 18, ]

```

```

# Seleccionar filas donde Girth es mayor que 10 pulgadas y Height no es mayor que 75 pies.

trees[trees$Girth > 10 & !(trees$Height > 75), ]

```

**Ejercicio**

Con respecto al dataset iris perteneciente al paquete datasets, realizar lo siguiente:

* Realizar exploraciones iniciales usando las funciones head, tail, y str.
* Usar la función summary para obtener resumenes númericos del dataset iris.  
* Seleccionar filas donde el Sepal.Length es mayor o igual que 5.0 y Sepal.Width es menor que 3.5.
* Seleccionar filas donde la especie es setosa o el Petal.Width es mayor que 2.0.
* Seleccionar filas donde la especie no es Virginica
* Seleccionar filas donde no se cumpla lo siguiente el Petal.Width sea mayor que 0.5 y que el Petal.Width sea menor que 1.5.
* Seleccionar filas donde la especie sea virginica y se cumpla lo siguiente Petal.Length es mayor que 5.0 o Petal.Width es menor que 1.5.

In [ ]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [ ]:
tail(iris)

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [ ]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [ ]:
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

Seleccionar filas donde el Sepal.Length es mayor o igual que 5.0 y Sepal.Width es menor que 3.5.

In [ ]:
iris[ iris$Sepal.Length >= 5.5 & iris$Sepal.Width < 3.5 , ]

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
51  7.0          3.2         4.7          1.4         versicolor
52  6.4          3.2         4.5          1.5         versicolor
53  6.9          3.1         4.9          1.5         versicolor
54  5.5          2.3         4.0          1.3         versicolor
55  6.5          2.8         4.6          1.5         versicolor
56  5.7          2.8         4.5          1.3         versicolor
57  6.3          3.3         4.7          1.6         versicolor
59  6.6          2.9         4.6          1.3         versicolor
62  5.9          3.0         4.2          1.5         versicolor
63  6.0          2.2         4.0          1.0         versicolor
64  6.1          2.9         4.7          1.4         versicolor
65  5.6          2.9         3.6          1.3         versicolor
66  6.7          3.1         4.4          1.4         versicolor
67  5.6          3.0         4.5          1.5         versicolor
68  5.8          2.7         4.1          1.0         versicolor
69  6.2          2.2         4.5          1.5         versicolor
70  5.6          2.5         3.9          1.1         versicolor
71  5.9          3.2         4.8          1.8         versicolor
72  6.1          2.8         4.0          1.3         versicolor
73  6.3          2.5         4.9          1.5         versicolor
74  6.1          2.8         4.7          1.2         versicolor
75  6.4          2.9         4.3          1.3         versicolor
76  6.6          3.0         4.4          1.4         versicolor
77  6.8          2.8         4.8          1.4         versicolor
78  6.7          3.0         5.0          1.7         versicolor
79  6.0          2.9         4.5          1.5         versicolor
80  5.7          2.6         3.5          1.0         versicolor
81  5.5          2.4         3.8          1.1         versicolor
82  5.5          2.4         3.7          1.0         versicolor
83  5.8          2.7         3.9          1.2         versicolor
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
120 6.0          2.2         5.0          1.5         virginica
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

Seleccionar filas donde la especie es setosa o el Petal.Width es mayor que 2.0.

In [ ]:
iris[iris$Species == "setosa" | iris$Petal.Width > 2.0, ]

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
44  5.0          3.5         1.6          0.6         setosa
45  5.1          3.8         1.9          0.4         setosa
46  4.8          3.0         1.4          0.3         setosa
47  5.1          3.8         1.6          0.2         setosa
48  4.6          3.2         1.4          0.2         setosa
49  5.3          3.7         1.5          0.2         setosa
50  5.0          3.3         1.4          0.2         setosa
101 6.3          3.3         6.0          2.5         virginica
103 7.1          3.0         5.9          2.1         virginica
105 6.5          3.0         5.8          2.2         virginica
106 7.6          3.0         6.6          2.1         virginica
110 7.2          3.6         6.1          2.5         virginica
113 6.8          3.0         5.5          2.1         virginica
115 5.8          2.8         5.1          2.4         virginica
116 6.4          3.2         5.3          2.3         virginica
118 7.7          3.8         6.7          2.2         virginica
119 7.7          2.6         6.9          2.3         virginica
121 6.9          3.2         5.7          2.3         virginica
125 6.7          3.3         5.7          2.1         virginica
129 6.4          2.8         5.6          2.1         virginica
133 6.4          2.8         5.6          2.2         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
149 6.2          3.4         5.4          2.3         virginica

Seleccionar filas donde la especie no es Virginica

In [ ]:
iris[iris$Species != "virginica", ]

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
71  5.9          3.2         4.8          1.8         versicolor
72  6.1          2.8         4.0          1.3         versicolor
73  6.3          2.5         4.9          1.5         versicolor
74  6.1          2.8         4.7          1.2         versicolor
75  6.4          2.9         4.3          1.3         versicolor
76  6.6          3.0         4.4          1.4         versicolor
77  6.8          2.8         4.8          1.4         versicolor
78  6.7          3.0         5.0          1.7         versicolor
79  6.0          2.9         4.5          1.5         versicolor
80  5.7          2.6         3.5          1.0         versicolor
81  5.5          2.4         3.8          1.1         versicolor
82  5.5          2.4         3.7          1.0         versicolor
83  5.8          2.7         3.9          1.2         versicolor
84  6.0          2.7         5.1          1.6         versicolor
85  5.4          3.0         4.5          1.5         versicolor
86  6.0          3.4         4.5          1.6         versicolor
87  6.7          3.1         4.7          1.5         versicolor
88  6.3          2.3         4.4          1.3         versicolor
89  5.6          3.0         4.1          1.3         versicolor
90  5.5          2.5         4.0          1.3         versicolor
91  5.5          2.6         4.4          1.2         versicolor
92  6.1          3.0         4.6          1.4         versicolor
93  5.8          2.6         4.0          1.2         versicolor
94  5.0          2.3         3.3          1.0         versicolor
95  5.6          2.7         4.2          1.3         versicolor
96  5.7          3.0         4.2          1.2         versicolor
97  5.7          2.9         4.2          1.3         versicolor
98  6.2          2.9         4.3          1.3         versicolor
99  5.1          2.5         3.0          1.1         versicolor
100 5.7          2.8         4.1          1.3         versicolor

Seleccionar filas donde no se cumpla lo siguiente el Petal.Width sea mayor que 0.5 y además que el Petal.Width sea menor que 1.5.

In [ ]:
iris[! ( iris$Petal.Width > 0.5 & iris$Petal.Width < 1.5 ), ]

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
120 6.0          2.2         5.0          1.5         virginica
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

Seleccionar filas donde la especie sea virginica y se cumpla lo siguiente Petal.Length es mayor que 5.0 o Petal.Width es menor que 1.5.

In [ ]:
ind <- iris$Species == "virginica" & ( iris$Petal.Length > 5.0 | iris$Petal.Width < 1.5 )
iris[ind, ]

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
101 6.3          3.3         6.0          2.5         virginica
102 5.8          2.7         5.1          1.9         virginica
103 7.1          3.0         5.9          2.1         virginica
104 6.3          2.9         5.6          1.8         virginica
105 6.5          3.0         5.8          2.2         virginica
106 7.6          3.0         6.6          2.1         virginica
108 7.3          2.9         6.3          1.8         virginica
109 6.7          2.5         5.8          1.8         virginica
110 7.2          3.6         6.1          2.5         virginica
111 6.5          3.2         5.1          2.0         virginica
112 6.4          2.7         5.3          1.9         virginica
113 6.8          3.0         5.5          2.1         virginica
115 5.8          2.8         5.1          2.4         virginica
116 6.4          3.2         5.3          2.3         virginica
117 6.5          3.0         5.5          1.8         virginica
118 7.7          3.8         6.7          2.2         virginica
119 7.7          2.6         6.9          2.3         virginica
121 6.9          3.2         5.7          2.3         virginica
123 7.7          2.8         6.7          2.0         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

**Ejercicio**

A continuación instalaremos el paquete nycflights13 el cual contiene información de vuelos que salieron de la ciudad de Nueva York en el 2013.

**Nota**: Un paquete en R es una colección de funciones, datos, y código en un formato bien definido. Este es usado para extender la funcionalidad de R promoviendo que el usuario de R realize tareas específicas o use algoritmos que no estan disponibles en la instalación básica de R.


```
install.packages("nycflights13")
```

In [ ]:
install.packages("nycflights13")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Luego cargaremos el paquete nycflights13  de la siguiente manera:

```
library(nycflights13)
```

In [ ]:
library(nycflights13)

Cuando se carga el paquete nycflights13 automáticamente tengo acceso a el siguiente dataframe:

```
flights
```

A continuación realizar los siguiente literales.

* Realizar exploraciones iniciales usando las funciones head, tail, y str.
* Seleccionar todos los vuelos que salieron el primero de Enero.
* Seleccionar todos los vuelos que salieron el veinticinco de Diciembre.
* Cual es el problema con el siguiente código:
```
flights[flights$moth = 1, ]
```
* Seleccionar todos los vuelos que salieron en Noviembre o Diciembre.

* Use el operador %in% para re-escribir el ejercicio anterior.

* Seleccionar todos los vuelos que no fueron retrasados (en llegada o partida) por más de dos horas, intentar hacerlo de dos formas. **Sugerencia**: Revise las Leyes de De Morgan.

In [ ]:
head(flights)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [ ]:
tail(flights)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 9     30  NA       1842           NA        NA       2019
2 2013 9     30  NA       1455           NA        NA       1634
3 2013 9     30  NA       2200           NA        NA       2312
4 2013 9     30  NA       1210           NA        NA       1330
5 2013 9     30  NA       1159           NA        NA       1344
6 2013 9     30  NA        840           NA        NA       1020
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 NA        EV      5274   N740EV  LGA    BNA  NA       764      18   42
2 NA        9E      3393   NA      JFK    DCA  NA       213      14   55
3 NA        9E      3525   NA      LGA    SYR  NA       198      22    0
4 NA        MQ      3461   N535MQ  LGA    BNA  NA       764      12   10
5 NA        MQ      3572   N511MQ  LGA    CLE  NA       419      11   59
6 NA        MQ      3531   N839MQ  LGA    RDU  NA       431       8   40
  time_hour
1 2013-09-30 18:00:00
2 2013-09-30 14:00:00
3 2013-09-30 22:00:00
4 2013-09-30 12:00:00
5 2013-09-30 11:00:00
6 2013-09-30 08:00:00

In [ ]:
str(flights)

tibble [336,776 × 19] (S3: tbl_df/tbl/data.frame)
 $ year          : int [1:336776] 2013 2013 2013 2013 2013 2013 2013 2013 2013 2013 ...
 $ month         : int [1:336776] 1 1 1 1 1 1 1 1 1 1 ...
 $ day           : int [1:336776] 1 1 1 1 1 1 1 1 1 1 ...
 $ dep_time      : int [1:336776] 517 533 542 544 554 554 555 557 557 558 ...
 $ sched_dep_time: int [1:336776] 515 529 540 545 600 558 600 600 600 600 ...
 $ dep_delay     : num [1:336776] 2 4 2 -1 -6 -4 -5 -3 -3 -2 ...
 $ arr_time      : int [1:336776] 830 850 923 1004 812 740 913 709 838 753 ...
 $ sched_arr_time: int [1:336776] 819 830 850 1022 837 728 854 723 846 745 ...
 $ arr_delay     : num [1:336776] 11 20 33 -18 -25 12 19 -14 -8 8 ...
 $ carrier       : chr [1:336776] "UA" "UA" "AA" "B6" ...
 $ flight        : int [1:336776] 1545 1714 1141 725 461 1696 507 5708 79 301 ...
 $ tailnum       : chr [1:336776] "N14228" "N24211" "N619AA" "N804JB" ...
 $ origin        : chr [1:336776] "EWR" "LGA" "JFK" "JFK" ...
 $ dest          : chr [1:336776] "IAH" "IAH" "MIA" "BQN" ...
 $ air_time      : num [1:336776] 227 227 160 183 116 150 158 53 140 138 ...
 $ distance      : num [1:336776] 1400 1416 1089 1576 762 ...
 $ hour          : num [1:336776] 5 5 5 5 6 5 6 6 6 6 ...
 $ minute        : num [1:336776] 15 29 40 45 0 58 0 0 0 0 ...
 $ time_hour     : POSIXct[1:336776], format: "2013-01-01 05:00:00" "2013-01-01 05:00:00" ...

In [ ]:
help(flights)

In [ ]:
summary(flights)

      year          month             day           dep_time    sched_dep_time
 Min.   :2013   Min.   : 1.000   Min.   : 1.00   Min.   :   1   Min.   : 106
 1st Qu.:2013   1st Qu.: 4.000   1st Qu.: 8.00   1st Qu.: 907   1st Qu.: 906
 Median :2013   Median : 7.000   Median :16.00   Median :1401   Median :1359
 Mean   :2013   Mean   : 6.549   Mean   :15.71   Mean   :1349   Mean   :1344
 3rd Qu.:2013   3rd Qu.:10.000   3rd Qu.:23.00   3rd Qu.:1744   3rd Qu.:1729
 Max.   :2013   Max.   :12.000   Max.   :31.00   Max.   :2400   Max.   :2359
                                                 NA's   :8255
   dep_delay          arr_time    sched_arr_time   arr_delay
 Min.   : -43.00   Min.   :   1   Min.   :   1   Min.   : -86.000
 1st Qu.:  -5.00   1st Qu.:1104   1st Qu.:1124   1st Qu.: -17.000
 Median :  -2.00   Median :1535   Median :1556   Median :  -5.000
 Mean   :  12.64   Mean   :1502   Mean   :1536   Mean   :   6.895
 3rd Qu.:  11.00   3rd Qu.:1940   3rd Qu.:1945   3rd Qu.:  14.000
 Max.   :1301.00   Max.   :2400   Max.   :2359   Max.   :1272.000
 NA's   :8255      NA's   :8713                  NA's   :9430
   carrier              flight       tailnum             origin
 Length:336776      Min.   :   1   Length:336776      Length:336776
 Class :character   1st Qu.: 553   Class :character   Class :character
 Mode  :character   Median :1496   Mode  :character   Mode  :character
                    Mean   :1972
                    3rd Qu.:3465
                    Max.   :8500

     dest              air_time        distance         hour
 Length:336776      Min.   : 20.0   Min.   :  17   Min.   : 1.00
 Class :character   1st Qu.: 82.0   1st Qu.: 502   1st Qu.: 9.00
 Mode  :character   Median :129.0   Median : 872   Median :13.00
                    Mean   :150.7   Mean   :1040   Mean   :13.18
                    3rd Qu.:192.0   3rd Qu.:1389   3rd Qu.:17.00
                    Max.   :695.0   Max.   :4983   Max.   :23.00
                    NA's   :9430
     minute        time_hour
 Min.   : 0.00   Min.   :2013-01-01 05:00:00.00
 1st Qu.: 8.00   1st Qu.:2013-04-04 13:00:00.00
 Median :29.00   Median :2013-07-03 10:00:00.00
 Mean   :26.23   Mean   :2013-07-03 05:22:54.64
 3rd Qu.:44.00   3rd Qu.:2013-10-01 07:00:00.00
 Max.   :59.00   Max.   :2013-12-31 23:00:00.00

Seleccionar todos los vuelos que salieron el primero de Enero.

In [ ]:
head(flights[ flights$month == 1 & flights$day == 1 , ])

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

Seleccionar todos los vuelos que salieron el veinticinco de Diciembre.

In [ ]:
head(flights[ flights$month == 12 & flights$day == 25, ])

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 12    25  456      500            -4         649      651
2 2013 12    25  524      515             9         805      814
3 2013 12    25  542      540             2         832      850
4 2013 12    25  546      550            -4        1022     1027
5 2013 12    25  556      600            -4         730      745
6 2013 12    25  557      600            -3         743      752
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  -2       US      1895   N156UW  EWR    CLT   98       529     5     0
2  -9       UA      1016   N32404  EWR    IAH  203      1400     5    15
3 -18       AA      2243   N5EBAA  JFK    MIA  146      1089     5    40
4  -5       B6       939   N665JB  JFK    BQN  191      1576     5    50
5 -15       AA       301   N3JLAA  LGA    ORD  123       733     6     0
6  -9       DL       731   N369NB  LGA    DTW   88       502     6     0
  time_hour
1 2013-12-25 05:00:00
2 2013-12-25 05:00:00
3 2013-12-25 05:00:00
4 2013-12-25 05:00:00
5 2013-12-25 06:00:00
6 2013-12-25 06:00:00

Cuál es el problema con el siguiente código:

```
flights[flights$moth = 1, ]
```

In [ ]:
flights[flights$month = 1, ]

ERROR: Error in parse(text = x, srcfile = src): <text>:1:22: unexpected '='
1: flights[flights$moth =
                         ^

In [ ]:
head(flights[flights$month == 1, ])

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

Seleccionar todos los vuelos que salieron en Noviembre o Diciembre.

In [ ]:
head(flights[  flights$month == 11 | flights$month == 12,  ])

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 11    1     5      2359             6       352       345
2 2013 11    1    35      2250           105       123      2356
3 2013 11    1   455       500            -5       641       651
4 2013 11    1   539       545            -6       856       827
5 2013 11    1   542       545            -3       831       855
6 2013 11    1   549       600           -11       912       923
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   7       B6       745   N568JB  JFK    PSE  205      1617     23   59
2  87       B6      1816   N353JB  JFK    SYR   36       209     22   50
3 -10       US      1895   N192UW  EWR    CLT   88       529      5    0
4  29       UA      1714   N38727  LGA    IAH  229      1416      5   45
5 -24       AA      2243   N5CLAA  JFK    MIA  147      1089      5   45
6 -11       UA       303   N595UA  JFK    SFO  359      2586      6    0
  time_hour
1 2013-11-01 23:00:00
2 2013-11-01 22:00:00
3 2013-11-01 05:00:00
4 2013-11-01 05:00:00
5 2013-11-01 05:00:00
6 2013-11-01 06:00:00

Use el operador %in% para re-escribir el ejercicio anterior.

In [ ]:
 flights[flights$month %in% c(11, 12),  ]

      year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1     2013 11    1     5      2359             6       352       345
2     2013 11    1    35      2250           105       123      2356
3     2013 11    1   455       500            -5       641       651
4     2013 11    1   539       545            -6       856       827
5     2013 11    1   542       545            -3       831       855
6     2013 11    1   549       600           -11       912       923
7     2013 11    1   550       600           -10       705       659
8     2013 11    1   554       600            -6       659       701
9     2013 11    1   554       600            -6       826       827
10    2013 11    1   554       600            -6       749       751
11    2013 11    1   555       600            -5       847       854
12    2013 11    1   555       600            -5       839       846
13    2013 11    1   555       600            -5       929       943
14    2013 11    1   556       600            -4       834       851
15    2013 11    1   558       600            -2       727       730
16    2013 11    1   558       600            -2       650       658
17    2013 11    1   558       600            -2       914       905
18    2013 11    1   558       600            -2       720       715
19    2013 11    1   559       600            -1       756       730
20    2013 11    1   600       600             0       709       716
21    2013 11    1   600       600             0       725       721
22    2013 11    1   601       600             1       853       856
23    2013 11    1   601       610            -9       803       813
24    2013 11    1   602       600             2       843       815
25    2013 11    1   603       600             3       717       711
26    2013 11    1   604       610            -6       855       855
27    2013 11    1   606       615            -9       746       750
28    2013 11    1   606       615            -9       807       817
29    2013 11    1   606       610            -4       752       745
30    2013 11    1   607       611            -4       857       912
⋮     ⋮    ⋮     ⋮   ⋮        ⋮              ⋮         ⋮        ⋮
55374 2013 12    31  2155     2039            76        253     2355
55375 2013 12    31  2155     2150             5        110       51
55376 2013 12    31  2159     2155             4         55       46
55377 2013 12    31  2206     2110            56         44     2339
55378 2013 12    31  2211     2159            12        100       45
55379 2013 12    31  2218     2219            -1        315      304
55380 2013 12    31  2235     2245           -10       2351     2355
55381 2013 12    31  2245     2250            -5       2359     2356
55382 2013 12    31  2310     2255            15          7     2356
55383 2013 12    31  2321     2250            31         46        8
55384 2013 12    31  2328     2330            -2        412      409
55385 2013 12    31  2332     2245            47         58        3
55386 2013 12    31  2355     2359            -4        430      440
55387 2013 12    31  2356     2359            -3        436      445
55388 2013 12    31    NA     1520            NA         NA     1705
55389 2013 12    31    NA     2025            NA         NA     2205
55390 2013 12    31    NA     1932            NA         NA     2305
55391 2013 12    31    NA     1505            NA         NA     1725
55392 2013 12    31    NA     1000            NA         NA     1252
55393 2013 12    31    NA      840            NA         NA     1205
55394 2013 12    31    NA      754            NA         NA     1118
55395 2013 12    31    NA     2000            NA         NA     2146
55396 2013 12    31    NA     1500            NA         NA     1817
55397 2013 12    31    NA     1430            NA         NA     1750
55398 2013 12    31    NA      855            NA         NA     1142
55399 2013 12    31    NA      705            NA         NA      931
55400 2013 12    31    NA      825            NA         NA     1029
55401 2013 12    31    NA     1615            NA         NA     1800
55402 2013 12    31    NA      600            NA         NA      735
55403 2013 12    31    NA      830            NA         NA     1154
      arr_delay carrier flight tailnum origin dest air_time distance hour
1       7       B6       745   N568JB  JFK    PSE  205      1617     23
2      87       B6      1816   N353JB  JFK    SYR   36       209     22
3     -10       US      1895   N192UW  EWR    CLT   88       529      5
4      29       UA      1714   N38727  LGA    IAH  229      1416      5
5     -24       AA      2243   N5CLAA  JFK    MIA  147      1089      5
6     -11       UA       303   N595UA  JFK    SFO  359      2586      6
7       6       US      2167   N748UW  LGA    DCA   57       214      6
8      -2       US      2134   N742PS  LGA    BOS   40       184      6
9      -1       DL       563   N912DE  LGA    ATL  126       762      6
10     -2       DL       731   N315NB  LGA    DTW   93       502      6
11     -7       B6       605   N640JB  EWR    FLL  149      1065      6
12     -7       B6       583   N661JB  JFK    MCO  136       944      6
13    -14       B6      1403   N746JB  JFK    SJU  196      1598      6
14    -17       UA       407   N834UA  EWR    TPA  142       997      6
15     -3       UA       279   N459UA  EWR    ORD  118       719      6
16     -8       US      1909   N950UW  LGA    PHL   38        96      6
17      9       AA      1175   N3GHAA  LGA    MIA  155      1096      6
18      5       WN       464   N390SW  EWR    MDW  117       711      6
19     26       AA       301   N4YHAA  LGA    ORD  119       733      6
20     -7       EV      5716   N820AS  JFK    IAD   49       228      6
21      4       UA      1198   N23707  LGA    ORD  121       733      6
22     -3       B6       371   N570JB  LGA    FLL  150      1076      6
23    -10       DL      1919   N922DL  LGA    MSP  153      1020      6
24     28       FL       345   N353AT  LGA    ATL  131       762      6
25      6       EV      4533   N11109  EWR    BUF   53       282      6
26      0       AA      1103   N3FTAA  LGA    DFW  205      1389      6
27     -4       MQ      3525   N834MQ  LGA    RDU   74       431      6
28    -10       US      1899   N199UW  JFK    CLT   93       541      6
29      7       WN      2609   N440LV  LGA    STL  142       888      6
30    -15       B6       601   N597JB  JFK    FLL  149      1069      6
⋮     ⋮         ⋮       ⋮      ⋮       ⋮      ⋮    ⋮        ⋮        ⋮
55374  NA       B6      1205   N627JB  JFK    PDX   NA      2454     20
55375  19       B6      1901   N729JB  JFK    FLL  164      1069     21
55376   9       B6      2053   N593JB  JFK    PBI  155      1028     21
55377  65       B6       775   N184JB  JFK    MSY  195      1182     21
55378  15       B6      1183   N715JB  JFK    MCO  148       944     21
55379  11       B6      1203   N625JB  JFK    SJU  202      1598     22
55380  -4       B6       234   N355JB  JFK    BTV   49       266     22
55381   3       B6      1816   N318JB  JFK    SYR   51       209     22
55382  11       B6       718   N279JB  JFK    BOS   40       187     22
55383  38       B6      2002   N179JB  JFK    BUF   66       301     22
55384   3       B6      1389   N651JB  EWR    SJU  198      1608     23
55385  55       B6       486   N334JB  JFK    ROC   60       264     22
55386 -10       B6      1503   N509JB  JFK    SJU  195      1598     23
55387  -9       B6       745   N665JB  JFK    PSE  200      1617     23
55388  NA       AA       341   N568AA  LGA    ORD   NA       733     15
55389  NA       AA       371   N482AA  LGA    ORD   NA       733     20
55390  NA       B6       161   N516JB  JFK    SMF   NA      2521     19
55391  NA       EV      4181   N24103  EWR    MCI   NA      1092     15
55392  NA       UA      1124   NA      EWR    EGE   NA      1725     10
55393  NA       UA      1151   NA      EWR    SEA   NA      2402      8
55394  NA       UA      1455   NA      EWR    LAX   NA      2454      7
55395  NA       UA      1482   NA      EWR    ORD   NA       719     20
55396  NA       UA      1483   NA      EWR    AUS   NA      1504     15
55397  NA       UA      1493   NA      EWR    LAX   NA      2454     14
55398  NA       UA      1506   NA      EWR    JAC   NA      1874      8
55399  NA       UA      1729   NA      EWR    DEN   NA      1605      7
55400  NA       US      1831   NA      JFK    CLT   NA       541      8
55401  NA       MQ      3301   N844MQ  LGA    RDU   NA       431     16
55402  NA       UA       219   NA      EWR    ORD   NA       719      6
55403  NA       UA       443   NA      JFK    LAX   NA      2475      8
      minute time_hour
1     59     2013-11-01 23:00:00
2     50     2013-11-01 22:00:00
3      0     2013-11-01 05:00:00
4     45     2013-11-01 05:00:00
5     45     2013-11-01 05:00:00
6      0     2013-11-01 06:00:00
7      0     2013-11-01 06:00:00
8      0     2013-11-01 06:00:00
9      0     2013-11-01 06:00:00
10     0     2013-11-01 06:00:00
11     0     2013-11-01 06:00:00
12     0     2013-11-01 06:00:00
13     0     2013-11-01 06:00:00
14     0     2013-11-01 06:00:00
15     0     2013-11-01 06:00:00
16     0     2013-11-01 06:00:00
17     0     2013-11-01 06:00:00
18     0     2013-11-01 06:00:00
19     0     2013-11-01 06:00:00
20     0     2013-11-01 06:00:00
21     0     2013-11-01 06:00:00
22     0     2013-11-01 06:00:00
23    10     2013-11-01 06:00:00
24     0     2013-11-01 06:00:00
25     0     2013-11-01 06:00:00
26    10     2013-11-01 06:00:00
27    15     2013-11-01 06:00:00
28    15     2013-11-01 06:00:00
29    10     2013-11-01 06:00:00
30    11     2013-11-01 06:00:00
⋮     ⋮      ⋮
55374 39     2013-12-31 20:00:00
55375 50     2013-12-31 21:00:00
55376 55     2013-12-31 21:00:00
55377 10     2013-12-31 21:00:00
55378 59     2013-12-31 21:00:00
55379 19     2013-12-31 22:00:00
55380 45     2013-12-31 22:00:00
55381 50     2013-12-31 22:00:00
55382 55     2013-12-31 22:00:00
55383 50     2013-12-31 22:00:00
55384 30     2013-12-31 23:00:00
55385 45     2013-12-31 22:00:00
55386 59     2013-12-31 23:00:00
55387 59     2013-12-31 23:00:00
55388 20     2013-12-31 15:00:00
55389 25     2013-12-31 20:00:00
55390 32     2013-12-31 19:00:00
55391  5     2013-12-31 15:00:00
55392  0     2013-12-31 10:00:00
55393 40     2013-12-31 08:00:00
55394 54     2013-12-31 07:00:00
55395  0     2013-12-31 20:00:00
55396  0     2013-12-31 15:00:00
55397 30     2013-12-31 14:00:00
55398 55     2013-12-31 08:00:00
55399  5     2013-12-31 07:00:00
55400 25     2013-12-31 08:00:00
55401 15     2013-12-31 16:00:00
55402  0     2013-12-31 06:00:00
55403 30     2013-12-31 08:00:00

Seleccionar todos los vuelos que no fueron retrasados (en llegada o partida) por más de dos horas, intentar hacerlo de dos formas. **Sugerencia**: Revise las Leyes de De Morgan.

In [ ]:
dim(flights[ !( flights$dep_delay > 120 | flights$arr_delay > 120 ),   ])

[1] 325354     19

In [ ]:
head(flights[ !( flights$dep_delay > 120 | flights$arr_delay > 120 ),   ])

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [ ]:
head(flights[ ( flights$dep_delay <= 120 & flights$arr_delay <= 120 ),   ])

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [ ]:
dim(flights[ ( flights$dep_delay <= 120 & flights$arr_delay <= 120 ),   ])

[1] 325354     19

**Como modificar un data frame**

Para modificar un data frame debemos usar el operador de asignación (o reasignación), por ejemplo con el siguiente data frame:

```
df <- data.frame( dui = 1:7, edad = c(21, 23, 27, 28, 29, 30, 35),
                  nombre = c("Juan", "Dora", "Hugo",
                             "Francisco", "Luis", "Carlos",  
                             "Mauricio"))
```    

Podemos modificar el valor del nombre de la primera fila con la siguiente re-asignación:

```
df[1, "nombre"] <- "Francisco"
```

**Como agregar filas a un data frame**

Podemos agregar filas a un data frame usando la función rbind y creando una lista de la siguiente forma:

```
new_row <- list(dui = 8, edad = 46, nombre = "Andres")
df <- rbind(df, new_row)
```

In [ ]:
new_row <- list(dui = 8, edad = 46, nombre = "Andres")
df <- rbind(df, new_row)

**Borrando columnas de un data frame**

Para borrar las columnas de un data frame se debe asignar la columna al valor NULL, a continuación vamos a borrar la variable edad del data frame df.

```
head(df)
df$edad <- NULL
head(df)
```

**Borrando filas en un data frame**

Para borrar filas en un data frame se puede hacer de dos formas:

* Borrando filas basandome en una condición específica.  
* Borrando filas por su índice.

Puedes ver más detalles en el siguiente enlace:

[Borrando filas en R](https://chat.openai.com/share/2b717d8f-7457-4053-9d91-76654452bda4)


Por ejemplo si quisieramos borrar del data frame df a las filas que cumplen las condicion que el nombre sea Luis tendriamos que hacer lo siguiente:

```
df <- df[df$nombre != "Luis", ]
```

**Ejercicio**

En la columna Ozone del dataframe airquality del paquete datasets, cambiar los valores NA por 0.

**Sugerencia**: Use la función is.na.

In [ ]:
sum(is.na(airquality$Ozone))  # count the number of missing values

[1] 37

In [ ]:
range(airquality$Ozone, na.rm = TRUE)  # min and max values for Ozone variable

[1]   1 168

In [ ]:
indexs <- is.na(airquality$Ozone)
airquality[ indexs, "Ozone" ] <- 0

In [ ]:
sum(airquality$Ozone == 0)  # sanity check

[1] 37

# Factores

Los factores nos permiten representar las variables cualitativas las cuales pueden ser nominales y ordinales. Los niveles de un factor son los valores posibles que puede tomar la variable cualitativa.

A continuación vamos a crear un factor y un vector de caracter con la misma información con el siguiente código.

```
x <- c("single", "married", "married", "single")

x

x_factor <- factor(x)

x_factor
```

Resulta que las funciones de R tratan de manera diferente (polimorfismo) los vectores de caracteres y los factores, prueba de ello es el siguiente código:

```
summary(x)
summary(x_factor)
```

Tambien podemos definir los valores de los niveles de manera explicita como en el siguiente código.

```
x_factor <- factor(c("single", "married", "married", "single"), levels = c("single", "married", "divorced"))
x_factor

```

**Como accesar a los componentes de un factor**

Para accesar a los componentes de un factor se hace de la misma manera que con los vectores.

**Como modificar un factor**

Para modificar los componentes de  un factor se hace de la misma manera que con vectores, sin embargo, no se puede establecer valores diferentes a los niveles previamente asignados.

**Consultando los níveles del factor**

Para consultar los niveles de un factor se usa la función levels, a continuación detallo un ejemplo.

```
levels(x_factor)
```

**Definiendo un factor ordenado**

Para definir un factor ordenado hay que usar la opción ordered = TRUE, además al definir los niveles deben ir de menor a mayor.


```
x_factor_ordered <- factor(c("neutral", "good", "bad", "good"), levels = c("bad", "neutral", "good"), ordered = TRUE)
x_factor_ordered

```

Podemos hacer comparaciones de orden en factores ordenados, por ejemplo:

```
x_factor_ordered[1] < x_factor_ordered[2]
```

**Ejercicio**

Realizar las siguientes tareas:

1. Crear un vector responses que contenga 50, 10, 20, 30 y 25 observaciones respectivamente para cada uno de estos niveles: "Very Unsatisfied", "Unsatisfied", "Neutral", "Satisfied", and "Very Satisfied".

2. Convertir el vector responses en un factor ordenado.

3. Usar summary para desplegar un resumen del factor ordenado.

**Ejercicios suplementarios**

1. Crear un código en R que permita codificar los meses del año como un factor no-ordenado.

2. Si

```
x <- c(1, 2, 3, 3, 5, 3, 2, 4, NA)
```

Cuales son los niveles del factor(x)?

    a. 1, 2, 3, 4, 5

    b. NA

    c. 1, 2, 3, 4, 5, NA

3. Sea

```

x <- c(11, 22, 47, 47, 11, 47, 11)

```

Si la siguiente expressión es ejecutada

```

factor(x, levels=c(11, 22, 47), ordered=TRUE)

```

Cual va a ser el cuarto elemento en la salida?

4. Si

```
z <- c("p", "a" , "g", "t", "b")
```

Entonces cual de las siguientes expresiones de R reemplazará el tercer elemento en z con "b".

    a. factor(z[3]) <- "b"
    b. levels(z[3]) <- "b"
    c. z[3] <- "b"


5. Si

```
z <- factor(c("p", "q", "p", "r", "q"))
```

Y los niveles de z son "p", "q", y "r", escribir
una expresión en R que
cambie los niveles de "p" a "w" con lo que z sea igual a:

"w", "q" , "w", "r" , "q".


6. Considere el dataset iris en R. Escriba una expresión en R que corte la variable Sepal.Length y cree el siguiente factor con cinco niveles.

```
(4.3, 5.02] (5.02, 5.74] (5.74, 6.46] (6.46, 7.18] (7.18, 7.9]
32 41 42 24 11
```

# La instrucción if else

**La instrucción if**

La sintaxis de la instrucción if es:

```
if (test_expression){
   statement
}
```

Si test_expression es verdadero (TRUE), la instrucción statement es ejecutada. Pero si es falsa (FALSE), el control del programa pasa a la línea despues de las llaves de cierre.

Aquí, test_expression puede ser un vector lógico o vector númerico, pero solo el primer elemento es tomado en consideración.

En el caso de vectores númericos, cero es tomado como falso (FALSE) y cualquier otro valor es tomado como verdadero (TRUE). A continuación mostramos el diagrama de flujo de la instrucción if.



![If statement](https://raw.githubusercontent.com/ricardo-rios/fund_prog_est/main/UnidadI/if_statement.png "If statement")

A continuación mostramos un ejemplo de uso de la instrucción if.

```
x <- 5
if (x > 0){
   print("Positive number")
}
```

**La instrucción if else**

La sintaxis de la instrucción if else es:

```
if (test_expression){
   statement1
} else{
   statement2
}
```

El else es opcional y solo es evaluado si test_expression es Falso.

**Nota**: La instrucción else debe estar en la misma línea que las llaves de cierre de la instrucción if. A continuación mostramos el diagrama de flujo de la instrucción if-else.

![If-Else statement](https://raw.githubusercontent.com/ricardo-rios/fund_prog_est/main/UnidadI/if_else_statement.png "If-Else statement")

A continuación mostramos un ejemplo de uso de la instrucción if-else.

```
x <- -5

if(x > 0){
   print("Non-negative number")
} else{
   print("Negative number")
}
```

Como -5 no es mayor que 0, así la condición del if se evalua como Falsa. Por lo tanto, el código procede a la declaración else e imprime la cadena "Negative number".

**La escalera if else**

La escalera if..else (if..else..if) permite ejecutar un bloque de código entre más de dos alternativas. La sintaxis es:



```
if (test_expression1){
   statement1
} else if(test_expression2){
   statement2
} else if(test_expression3){
   statement3
} else{
   statement4
}
```

Solo una instrucción será ejecutada dependiendo de las test_expressions. A continuación mostramos un ejemplo de la escalera if else.

```

x <- 0

if (x < 0) {
   print("Negative number")
} else if (x > 0) {
   print("Positive number")
} else {
   print("Zero")
}


```

La variable x es asignada cero, la cual no es menor que 0, así la condición x < 0 se evalua como Falsa.

Ya que la condición en la declaración  else if es tambien Falsa, el código procede a la declaración else y se ejecuta el correspondiente bloque, resultando en la salida "Zero".

**Ejercicio**:

**Objetivo**:

Escribir un código en R que categorize estudiantes en los siguientes grupos (A, B, C, D, F) basado en sus notas en una escala que va de 0 a 100.

**Instrucciones:**

1. Defina una variable nota que almacene la nota de un estudiante.

2. Determine la pertenencia al grupo usando la siguiente escala:
   * A: De 90 hasta 100
   * B: De 80 hasta 89
   * C: De 70 hasta 79
   * D: De 60 hasta 69
   * F: Abajo de 60

3. El código imprimira el grupo al que pertenece la nota definida en 1.

**Ejercicios suplementarios**

1. En el siguiente código:

```
x <- 12

if(is.numeric(x)){
   y=x*2
}

```

Cuál es el valor almacenado en y?

2. En el siguiente código:

```
z <- -1

if(z<0){
  x <- abs(z)
  y <- z*3
}

```


Cuál es el valor almacenado en x e y?


3. En el siguiente código:  

```
z <- 6

if(z<0){
  y <- z*3
} else {
  y <- z*5
}
    
```

Cuál es el valor almacenado en y?



4. En el siguiente código

```
z <- 'i'

if (z %in% letters)

if (z=='a') n <- 1 else

  if (z=='e') n <- 2 else

    if (z=='i') n <- 3 else

      if (z=='o') n <- 4 else n <- 5


```

Cuál es el valor almacenado en n?


5. En el siguiente código

```

z  <- 'u'

if (z %in% letters)

if (z=='a') n <- 1 else

  if (z=='e') n <- 2 else

    if (z=='i') n <- 3 else

      if (z=='o') n <- 4 else n <- 5

```


Cuál es el valor almacenado en n?

# La función ifelse

Existe un equivalente para vectores de las anteriores estructuras de bifurcación. La función ifelse() es una función condicional en R que permite realizar operaciones condicionales elemento a elemento en vectores o data frames.

La sintaxis de la función ifelse() es:

```
ifelse(test_expression, x, y)
```

Donde:

* test_expression: Una condición lógica o un vector lógico que especifica la condición a ser evaluada. Puede ser un solo valor lógico o un vector de valores lógicos.

* x: El valor o expresión a ser returnado cuando la condición es verdadera. Puede ser un solo valor, vector o una expresión.

* y: El valor o expresión a ser returnado cuando la condición es falsa. Puede ser un solo valor, vector o una expresión.

El valor de retorno es un vector de la misma longitud como test_expression. A continuación mostramos un ejemplo de la función ifelse.

```
x <- c(5, 7, 2, 9)

ifelse(x %% 2 == 0, "even", "odd")

```

**Ejercicio**:

Se tienen las siguiente notas correspondientes a un curso de loǵica matemática almacenadas en un vector.

```
notas <- c(5.6, 7.8, 5.0, 8.0, 10, 2.5, 6, 2.1)
```

El criterio de aprobación es el siguiente:

Si es mayor o igual a 6.0 es aprobado y en caso contrario es reprobado.

Se pide generar un vector de caracteres con el estado de aprobación usando la función ifelse.

**Ejercicio**

Tenemos el siguiente vector de temperaturas:

```
temperatures <- c(13, 22, 7, 19, 28, 15, 24, 30)

```

Queremos categorizar el anterior vector de temperaturas en grados celsius usando el siguiente criterio:

* Cold: Abajo de 15 grados celsius
* Moderate: Entre 15 y 25 grados celsius
* Hot: Arriba de 25 grados celsius

**Sugerencia**: Usar la función ifelse y expresar el resultado final como un factor ordenado.

# El bucle for

Los bucles son usados en programación para repetir bloques específicos de código. El bucle for de R es usado para iterar en un vector. A continuación mostramos la sintaxis:

```
for (val in sequence){
   statement
}

```

En el snippet anterior sequence es un vector y val adquiere cada uno de los valores del vector durante el bucle. En cada iteración, statement es evaluado. A continuación mostramos el diagrama de flujo del bucle for.

![For-Loop statement](https://raw.githubusercontent.com/ricardo-rios/fund_prog_est/main/UnidadI/for_loop.png "For-Loop statement")

A continuación mostramos un ejemplo que cuenta el número de números pares en un vector.

```
x <- c(2,5,3,9,8,11,6)
count <- 0

for (val in x) {
   if(val %% 2 == 0){
      count <- count+1
   }  
}

print(count)

```

**Ejercicios**

1. Escriba un bucle for que itere sobre los números del 1 al 7 e imprima el cubo de cada número usando print()


2. Escriba un código que sume los números del 1 al 100, verifique su respuesta utilizando la siguiente famosa fórmula:

$$  $$


**Nota**: Siempre que se pueda es mejor utilizar opciones vectorizadas en lugar de bucles. A continuación mostramos un ejemplo de esto.

**Ejercicio**

Se tiene la siguiente matriz la cual tiene valores ausentes.

```
my_matrix <- matrix(c(1, NA, 3, 4, 5, NA, 7, 8, NA), nrow = 3, ncol = 3)
```

Se pide sustituir los valores  NA por 0 usando:

* Bucles for
* Usando la función vectorizada apply
* Usando indices lógicos

# El bucle while

Bucles son usados en programación para repetir un bloque específico de código. A continuación vamos a aprender como crear un bucle while.

En R, los bucles while son usados para iterar en un bucle siempre que se cumpla una condición. A continuación mostramos la sintaxis:

```
while (test_expression){

   statement

}

```

En el anterior código, test_expression es evaluado y se entra en el cuerpo del bucle si el resultado es verdadero.

Esto es repetido hasta test_expression se evalua Falso, en tal caso el bucle termina. A continuación mostramos el diagrama de flujo del bucle while.

![While-Loop statement](https://raw.githubusercontent.com/ricardo-rios/fund_prog_est/main/UnidadI/while_loop.png "While-Loop statement")

A continuación mostramos un ejemplo de uso del bucle while.


```

i <- 1

while (i < 6){
   print(i)
   i = i+1
}


```

En el código anterior, $i$ es inicializado a 1.

La condición del bucle es $ i < 6 $ el cual se evalua como verdadero ya que 1 es menor que 6. Así, se entra en el cuerpo del bucle y i es imprimeso e incrementado.

En la siguiente iteración, el valor de $i$ es 2 y el bucle continua.

Esto continuará hasta que $i$ toma el valor de 6. La condición $ 6 < 6  $ es falsa y el bucle while finalmente termina.

# Instrucciones break y next

A continuación vamos a aprender acerca de las instruccioens break y next.

En R, las instrucciones break y next son usadas dentro de bucles para controlar la ejecución del flujo.

Podemos alterar el flujo normal en un bucle usando break y next.

**Instrucción break**

Una instrucción break es usada dentro de un bucle (repeat, for, while) para parar las iteraciones y el control del flujo pasa afuera del bucle.

En un bucle anidado, donde hay un bucle adentro de otro bucle, esta instrucción sale del bucle más interno que es evaluado.

La sintaxis de la declaración break es:

```

if (test_expression){
   break
}


```

Aquí, test_expression es evaluada. Si resulta que es verdadera, la instrucción break es ejecutada.

Cuando la instrucción break es alcanzada, el bucle en el cual reside termina, y el programa continua con la instrucción que esta después del bucle.

A continuación mostramos un diagrama de flujo de la instrucción break.

![Break statement](https://raw.githubusercontent.com/ricardo-rios/fund_prog_est/main/UnidadI/break_statement.png "Break statement")

A continuación vamos a ver un ejemplo de uso de la instrucción break.

```
x <- 1:5

for (val in x){

  if (val == 3){
    break
  }
  
  print(val)
}

```

En el anterior ejemplo, iteramos sobre el vector x, el cual tiene los números del 1 al 5.

Dentro del bucle for se ha usado una condición if que rompe el bucle si el valor actual es 3.

A continuación explicamos la instrucción next, la instrucción next es útil para saltar la iteración actual de un bucle sin terminarlo.

Cuando se encuentra con una instrucción next, R salta posteriores evaluaciones e inicia la siguiente iteración del bucle.

A continuación mostramos la sintaxis de la declaración next.

```
if (test_condition){

  next

}
```

Aqui, test_condition es evaluado. Si el resultado de test_condition es verdadero, la instrucción next es ejecutada.

Cuando la instrucción next es ejecutada, se salta la actual iteración del bucle, y el programa se mueve a la siguiente iteración del bucle.

A continuación mostramos el diagrama de flujo de la instrucción next.

![Next statement](https://raw.githubusercontent.com/ricardo-rios/fund_prog_est/main/UnidadI/next_statement.png "Next statement")

A continuación vamos a ver un ejemplo de uso de la instrucción next.

```
x <- 1:5

for (val in x) {
  
  if (val == 3){
    next
  }
  
  print(val)
}
```

En el anterior ejemplo, usamos la instrucción next dentro de una condición para verificar is un valor es igual a 3.

Si el valor es igual a 3, la actual iteración para (el valor no es impreso) pero el bucle continua con la siguiente iteración.

# Funciones de R

Las funciones en R nos permiten modularizar nuestro código permitiendo que sean reutilizables. A continuación presentamos la sintaxis de las funciones.

```

func_name <- function (argument) {
statement
}

```

Observamos que la palabra reservada function nos permite declarar una función en R.

La declaración (statement) dentro de las llaves es el cuerpo de la función. A la función se le asigna un nombre que en el caso anterior es func_name.

Ejemplo de una función:

```

pow <- function(x, y) {
  result <- x^y
  print(paste(x,"raised to the power", y, "is", result))
}


```

Aquí hemos creado una función llamada pow().

Esta función toma dos argumentos, almacena en un variable el resultado de elevar el primer argumento al segundo argumento e imprime el resultado.

La función paste() se usa para concatenar dos cadenas.

**Como llamar a una función**

```
pow(8, 2)
pow(2, 8)
```

**Argumentos con nombres**

En la llamada anterior pow(8, 2), el argumento formal x e y son asignados a 8 y 2 respectivamente.

Podemos llamar a una función con argumentos con nombres de la siguiente manera.

```
pow(x = 8, y = 2)
pow(y = 2, x = 8)
```

**Valores por defecto para argumentos**

Podemos asignar valores por defecto a los argumentos de una función en R.

A continuación presentamos un ejemplo.

```

pow <- function(x, y = 2) {
   result <- x^y
   print(paste(x,"raised to the power", y, "is", result))
}


```

El uso del valor por defecto es opcional, prueba de ello es el siguiente código.


```
pow(3)
pow(3,1)

```

**Valor de retorno de una función**

Usualmente vamos a requerir que nuestras funciones hagan algun procesamiento y luego retornen el resultado. Esto se logra con la función de R return().

La sintaxis de la función return() es:

```
return(expression)
```

Aquí expression es evaluado, y su valor es almacenado como el resultado de la función.

El valor especificado en la instrucción return() es pasado como la salida de la función.

A continuación damos un ejemplo de uso de la función return en el cual retorna si un número es positivo, negativo o cero.

```

check <- function(x) {
if (x > 0) {
result <- "Positive"
}
else if (x < 0) {
result <- "Negative"
}
else {
result <- "Zero"
}
return(result)
}


```

A continuación llamamos a la recien creada función con algunos valores.


```

check(1)
check(-10)
check(0)


```

**Funciones sin instrucción return**

Si no hay una instrucción de retorno, el valor de la última expresión es retornada automáticamente en R.

La siguiente función es equivalente a la anterior.

```

check2 <- function(x) {
if (x > 0) {
result <- "Positive"
}
else if (x < 0) {
result <- "Negative"
}
else {
result <- "Zero"
}
result
}

```

Podemos llamarla de la siguiente manera:

```

check(1)
check(-10)
check(0)

```

Si lo que quiero es retornar varios valores debo usar una lista como en el siguiente ejemplo.

```

multi_return <- function() {
my_list <- list("color" = "red", "size" = 20, "shape" = "round")
return(my_list)
}


```

A continuación invocamos a la anterior función y al ser el valor de retorno una lista podemos accesar a sus componentes con el operador $.


```

a <- multi_return()
a$color
a$size
a$shape

```

**Ejercicio**

Encuentre los números perfectos menores que 10,000. **Nota**: Un número perfecto es un número entero positivo que es igual a la suma de sus divisores propios positivos. 6 es el primer número perfecto.

# Gráficos

En R hay tres sistemas principales para hacer gráficos los cuales son:

* Sistema base: es el sistema de gŕaficos original de R. Los gŕaficos son creados paso a paso, agregando elementos como puntos, líneas o texto. Son menos útiles para gŕaficos complejos.  
* Lattice: Son particularmente útiles para gráficos condicionales donde el mismo tipo de gráfico es repetido para diferentes niveles de un factor.  
* ggplot2: Es un sistema de gráficos avanzado construido bajo el concepto de la "Gramática de gráficos".

Entre las sugerencias para hacer buenos gráficos podemos mencionar:

* Mostrar los datos
* Hacer que los patrones en los datos sean fáciles de ver
* Representar magnitudes de manera honesta
* Dibujar los elementos del gráfico con claridad



A continuación examinaremos algunos ejemplos del sistema base de gráficos, en la Unidad II examinaremos ggplot2.

**Gráficos univariados**

**Gráfico de barras**


```

gear_counts <- table(mtcars$gear)


barplot(gear_counts,
        main = "Number of Cars by Number of Gears",
        xlab = "Number of Gears",
        ylab = "Number of Cars",
        col = "steelblue",
        ylim = c(0, max(gear_counts) + 1))

```

**Histograma**



```

hist(mtcars$mpg,
     main = "Histogram of Miles Per Gallon",
     xlab = "Miles Per Gallon",
     ylab = "Frequency",
     col = "steelblue",
     border = "black")

```

**Gráficos bivariados**

**Gráfico de mosaico**


```

# HairEyeColor es un array tri-dimensional
# La tercera dimensión es 'Sex'
HairEyeColor

# Agregamos datos a lo largo de la dimensión 'Sex'
# para enfocarnos en Hair y Eye color
hair_eye_table <- apply(HairEyeColor, c(1, 2), sum)



mosaicplot(hair_eye_table,
           main = "Mosaic Plot of Hair and Eye Color",
           xlab = "Hair Color",
           ylab = "Eye Color",
           col = c("gray80", "gray60", "gray40", "gray20"))


```

**Scatter plot**


```

# Crear un scatter plot para mpg vs wt
plot(mtcars$wt, mtcars$mpg,
     main = "Scatter Plot of MPG vs Car Weight",
     xlab = "Weight (1000 lbs)",
     ylab = "Miles Per Gallon (MPG)",
     pch = 19,  # Type of point
     col = "blue")  # Color of points

```