# Cargando librerias

In [ ]:
library(tidyverse)

Usando dplyr, desarrolle los ejercicios siguientes poniendo el respectivo código en la celda correspondiente.

Problema 1

Con respecto al siguiente tibble que representa ventas de pupusas de una cadena de restaurantes en departamentos de El Salvador:

In [ ]:
tb1 <- tribble(
  ~departamento, ~marzo, ~abril,
  "La Libertad", 15000, 18000,
  "San Vicente", 12000, 17000,
  "Chalatenango", 9000, 11000,
)

Usando la función apropiada convierta las variables "marzo" y "abril" en una variable que se llame mes.

Problema 2

Con respecto al siguiente tibble.

In [ ]:
tb2 <- data.frame(row = rep(c(1, 2), each = 3),
                 var = c("Height", "Weight", "Age"),
                 value = c(170, 65, 30, 160, 55, 25))

tb2 <- as_tibble(tb2)

In [ ]:
tb2

Usando la función apropiada genere columnas a partir de la variable var.