
## Configurando los conjuntos de datos.
A continuaci贸n vamos a crear los conjuntos de datos  con los que trabajaremos.

In [ ]:
library(tidyverse)

In [ ]:
tb1 <- tribble(
              ~departamento, ~enero, ~febrero,
              "San Salvador", 10000, 23000,
              "San Miguel", 23000, 5000,
              "Santa Ana", 10000, 2000,
             )

In [ ]:
tb2 <- data.frame(row = rep(c(1, 51), each = 3),
                 var = c("Sepal.Length", "Species", "Species_num"),
                 value = c(5.1, "setosa", 1, 7.0, "versicolor", 2))


tb2 <- as_tibble(tb2)

Digitar el c贸digo que se te pide en las siguientes preguntas.

Problema 1 [50%]


Con respecto al siguiente tibble que representa ventas de tacos de una cadena de restaurantes en departamentos de El Salvador:

In [ ]:
tb1

Usando la funci贸n apropiada convierta las variables "enero" y "febrero" en una variable que se llame mes.

Problema 2 [50%]


Con respecto al siguiente tibble:

In [ ]:
tb2

Usando la funci贸n apropiada genere columnas a partir de la variable var.